/*===================== TABLE OF CONTENT =======================
/*------------------------------------------------------------------
[ Html]
[ Typography Css ]
[ Browser Compatability Css ]
[ Body ]
[ Top Header on Navbar ]
[ Footer ]
[ Megamenu ]
[ Banner Section ]
[ Slider Section ]
[ Pagination Section]
[ Form Section ]
[ Bred Crumb Section ]
[ Home Page ]
[ About Us Page]
[ Blog Page]
[ Blog Detail Page]
[ Contact Us Page ]
[ Company Register Page ]
[ Candidate Deails Page ]
[ Candidate Listing Page ]
[ Categories Page ]
[ Coming soon Page ]
[ Company Details Page ]
[ Company Listing Page ]
[ Employer Login Page ]
[ Faq Page ]
[ Not Found Page ]
[ Forgot Password Page ]
[ Job Details Page ]
[ Job Listing Page ]
[ Login Page ]
[ Post Job Page ]
[ Pricing Page ]
[ Profile Page ]
[ Register Page ]
[ Term Conditions Page ]
[ Responsive ]
=============================================================*/

/* ==== Body ==== */
body {
	color: #282b4a !important;
	font-size: 14.63px !important;
	font-family: 'Raleway', sans-serif!important;
}



/* ==== font ==== */


/* ==== Typography Css ==== */
h1,h2,h3,h4,h5,h6 {
	font-weight: 700 !important;
}

h1 {
	font-size: 51.87px !important;
	color: #282b4a !important;
}

h2 {
	font-size: 41.23px !important;
}

h3{
    font-size: 27.93px !important;
}

p, .more, .form-control, .readlink, .readmores, li, td{
    color: #4b4b4b !important;
	font-size: 15.96px !important;
	font-weight: 500 !important;
}

p.card-text {
    font-size: 14.63px !important;
}

a{
	text-decoration:none !important;
}

/* ==== Browser Compatability Css ==== */
.container-fluid {
	padding: 0 30px !important;
}

.container {
	max-width: 1180px !important;
}

/* ==== Form Section ==== */
.custom-control-label {
	cursor: pointer;
}

select {
    appearance: none;
}

.fa:before{
	font-family: fontawesome;
    font-weight: normal;
}

.dropdown-container:after {
    content: "\f107";
    font-family: 'FontAwesome';
    position: absolute;
    right: 30px;
    top: 10px;
	font-size: 15px;
	color: #7e7373;
}

.smiBold {
	font-weight: 600 !important;
}

iframe {
    width: 100% !important;
}

#jobSlider .controls-top {
    margin-bottom: 70px !important;
}

/* ==== Top Header on Navbar ==== */
#navbarSupportedContent {
    font-family: 'Rubik';
}

#header .navbar{
    padding: 0.5rem 1rem;
}

#header .navbar-nav .nav-link {
	padding: .5rem 30px;
	color: #282b4a;
	font-size: 14.96px;
}

#header .navbar .container-fluid, .homePage .container-fluid {
    padding: 0 15px !important;
}

#header .navbar-center  .nav-item {
    line-height: 40px;
}

#header .navbar-center {
    margin-right: 3rem !important;
}

#header .navbar-nav i.fa.fa-upload{
    font-size: 18px;
	margin-right: 12px;
}

#header .navbar-nav a.btn.btn-link {
    color: #282b4a;
	text-decoration: none !important;
}

#header .navbar-nav a.btn.btn-danger {
    padding: 8px 30px !important;
	border-radius: 8px;
}

#header .navbar-nav .btn {
	font-size: 14.96px !important;
}

#header .navbar-toggler:focus{
	box-shadow: none;
}

#header .navbar-nav i{
	margin-right: 12px!important;
}

/* ==== Megamenu ==== */
.mega-menu {
	background: none repeat scroll 0 0 #fff;
    position: absolute;
    width: 96%;
	right: 25px;
	padding: 15px;
	display: none;
	transition-duration: 0.9s;
	z-index: 1000;
	box-shadow: 0 10px 60px 1px rgba(0,0,0,.08)!important;
	border-radius: 2px;
	transition: .9s ease;
}

.mega-menu .dropdown-item {
	padding: 5px 8px !important;
	transition: 0.3s;
	line-height: 25px;
	margin-bottom: 10px;
	border-radius: 2px;
	font-size: 14.63px;
	color: #282b4a;
	font-family: 'Raleway' !important;
}

.mega-menu .dropdown-item:hover {
	background: #ff4153;
	color: #fff;
	padding-left: 25px !important;
}

.mega-menu img {
	width: 100%;
}

.display-on {
	display: block;
	transition-duration: 0.9s;
}

#header .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0;
    vertical-align: 0;
    content: "";
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

#header .dropdown-menu {
	top: inherit !important;
	left: inherit !important;
	padding: 15px !important;
	border: 1px solid #fff !important;
	border-radius: 0 !important;
}

/* ==== Animation ==== */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}	

/* ==== Banner Section ==== */
.banner {
    background-image: url('../images/home/first-banner.png');
    background-position: center;
    background-size: cover;
	background-repeat: no-repeat;
    height: auto;
	width: 100%;
	border-bottom: 20px solid #f4c310;
    border-bottom-left-radius: 543px !important;
}

/* ==== Home Page ==== */
.homePage {
    padding: 100px 50px;
}

.homePage p {
	padding: 40px 0;
	line-height: 30px;
	color: #7C7271 !important;
	font-weight: 600 !important;
}

.homePage form i.fa.fa-search, .aboutGoal form i.fa.fa-search {
    position: absolute;
    top: 12px;
    left: 10px;
    color: #7e7373;
}

.homePage  input.btn.btn-dark, .aboutGoal  input.btn.btn-dark {
    padding: 8px 40px;
	font-size: 15.96px;
	font-family: 'Rubik';
}

.homePage .socialImage {
	padding: 155px 0;
	text-align: center;
}

.socialImage img {
    margin-left: 50px;
}	

.homePage input.form-control, .aboutGoal input.form-control {
	background: transparent;
	border: 1px solid transparent;
	margin-right: 34px;
	padding-left: 35px;
	box-shadow: none;
	font-weight: 600 !important;
	color: #7e7373 !important;
}

/* ==== jobPart ==== */
.jobPart {
    padding: 180px 0;
}

.jobImage {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

#jobSlider .btn-outline-danger {
	color: #ff4153;
	border: 1px solid #ff4153;
}

#jobSlider i.fa.fa-map-marker {
    font-size: 15.96px;
	margin-top: 4px;
}

.image-card img, .img-card img {
  transition: 0.4s ease;
}

.jobImage:hover .image-card img, .overImg :hover.img-card img {
  transform: scale(1.08);
}

/* ==== ourJob ==== */
.ourJob, .jobforYou {
	padding: 0 0 180px;
	text-align: center;
	position: relative;
	width: 100%;
}

.ourjobInner {
    padding: 30px 15px 70px;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.ourjobInner h3 {
    font-size: 18.62px !important;
}

.latestBlog h3.card-title{
    font-size: 18.62px !important;
    font-weight: 600 !important;
	color: #282b4a !important;
	margin-bottom: 15px !important;
}

.latestBlog h1, .ourJob h1 {
    margin-bottom: 70px;
}

.ourjobInner i {
    font-size: 23.94px;
    margin-bottom: 35px;
	background: transparent;
    color: #282b4a !important;
    width: 55px;				
    height: 55px;
    border-radius: 50px;
    line-height: 55px;
	transition: .5s ease;
}

.ourjobInner i.fa.fa-angle-right {
    margin-bottom: 0;
    width: auto;
    height: 0;
    background: transparent;
    line-height: inherit;
    font-size: 14.63px;
    margin-left: 5px;
	transition: inherit;
	color: #fff;
}

.ourjobInner .read {
    opacity: 0;
    position: absolute;
    transform: translate(-50%, 50%);
    text-align: center;
    font-size: 14.63px;
    padding: 0 15px;
    line-height: 25px;
    font-family: 'Rubik';
	transition: .5s ease;
}

.ourjobInner:hover {
    box-shadow: 0 5px 8px 0 #ddd;
}

.ourjobInner:hover .read {
    opacity: 1;
}

.ourjobInner:hover i {
    background: #282b4a;
	color:#fff !important;
}

/* ==== weCompany ==== */
.weCompany {
    padding: 0 0 180px;
}

/* ==== jobforyou ==== */
.jobforYou .card-body {
	text-align: left;
}
.jobBox-hover {
	position: absolute;
    bottom: 100%;
    right: 0;
    left: 0;
	top: 0;
    opacity: 0;
	z-index: -1;	
	border-radius: 35px;
	transform:perspective(400px) rotateX(-90deg);
	transform-origin:center top 0;
	transition: 1s ease;
}

.jobBox .card {
    border-radius: 35px;
    border: 1px solid #2a3b4a;
}

.jobBox {
    position: relative;
	margin-bottom: 30px;
}

.jobBox-content {
    position: absolute;
    left: 0;
    right: 0;
	bottom: 40%;
    text-align: center;
    color: #fff;
}

.jobBox-hover-content {
	position: absolute;
    left: 0;
    right: 0;
	bottom: 60%;
    text-align: center;
    color: #fff;
}

.jobBox h3 {
    font-size: 24.13px !important;
	margin-bottom: 18px;
}

.jobBox:hover .jobBox-content {
	bottom: -30px;
	transition: 1s ease;
	opacity: 0;
}

.jobBox-content .btn-outline-warning {
    font-size: 14.58px;
    color: #fff;
    border: 2px solid #d98813;
    border-radius: 0;
    font-weight: 600 !important;
    padding: 6px 13px;
	height: 28px;
    line-height: 0;
}

.jobBox:hover .jobBox-hover {
	opacity: 1;
	z-index: 1;
	bottom: 0;
	transform:perspective(400px) rotateX(0);
}

.jobBox-hover-content i {
    color: #ff4153;
    font-size: 30px;
    background: #fff;
    border-radius: 50px;
    padding: 10px 12px;
    margin-bottom: 18px;
}

.jobBox-hover h4 {
    font-size: 18.54px;
    font-weight: 500 !important;
    margin-bottom: 15px;
}

.jobBox-hover ul li:first-child {
	margin-bottom: 15px;
}

.jobBox-hover ul li {
	font-size: 14.63px !important;
    color: #7e7373 !important;
}

.jobBox-hover a{
	font-size: 16.67px;
	color: #2a3b4a !important;
	text-decoration: none !important;
	margin-bottom: 18px;
	text-align: center;
}

.jobforYou .card-body a.btn.btn-outline-danger {
	padding: 0 10px;
	font-size: 18px;
	position: absolute;
	right: 15px;
	bottom: 15px;
}

.jobforYou .pre {
	position: absolute;
    left: 0;
	color: #fff;
	font-size: 18.62px;
	background: #ff4153;
	border: 1px solid #ff4153;
	padding: 6px 8px;
	border-radius: 50px;
	transition: .5s ease;
}

.jobforYou .pre:hover, .jobforYou .next:hover {
	background: #282b4a;
	border: 1px solid #282b4a;
}

.jobforYou .next {
    position: absolute;
    right: 0;
	color: #fff;
	font-size: 18.62px;
	background: #ff4153;
	border: 1px solid #ff4153;
	padding: 6px 8px;
	border-radius: 50px;
	transition: .5s ease;
}


/* ==== latestBlog ==== */
.latestBlog .card:hover {
	background: #f4c310;
}
 
.latestBlog .card:hover p, .latestBlog .card:hover h5, .latestBlog .card:hover h3 {
	color: #fff !important;
}

.latestBlog .card:hover i.fa.fa-map-marker.text-red {
	color: #fff !important;
}

.latestBlog .card:hover .btn-outline-danger {
	color: #fff !important;
	border: 1px solid #fff;
	background: transparent;
}
 
.latestBlog .card:hover .card-img-top {
	opacity: 0.3;
}

.latestBlog .card-body a.btn.btn-outline-white {
	padding: 4px 10px;
    font-size: 23.93px;
	position: absolute;
	right: 18px;
	bottom: 15px;
	border: 1px solid #fff;
	color: #fff;
	line-height: 0;
	transition: .5s ease;
}

.latestBlog .card-body .btn:focus {
    box-shadow: none !important;
}

sup {
	top: -2px !important;
}

.latestBlog .card {
	border-radius: 30px;
	box-shadow: 0 5px 8px 0 #ddd;
	border: none;
	display: inline-block;
	opacity: 1;
	backface-visibility: hidden;
	transition: .5s ease;
	height: auto;
}

.latestBlog .card-body {
    padding: 30px 20px;
}

.latestBlog {
	padding: 180px 0;
	position: relative;
	width: 100%;
}

.latestBlog .card-img-top {
	opacity: 1;
}

.latestBlog .card:hover .readlink {
	color:#fff !important;
}

.latestBlog .card:hover a.btn.btn-outline-white.rounded-pill {
    right: 40px;
    bottom: 33px;
	background: #fff;
	color: #ff4153;
}

.dateTop {
    position: absolute;
    right: 20px;
	top: 20px;
    background: #fff;
    border-radius: 50px;
    padding: 3px 8px;
	color: #7e7373;
	font-family: 'Rubik', sans-serif;
	font-size: 14.63px;
}

.latestBlog .card p {
    margin-bottom: 0;
	line-height: 25px;
	color: #7e7373 !important;
}

.latestBlog .card-body::before {				
	content: "";
    display: block;
    width: 70%;
    float: right;
    height: 210px;
	opacity: 1;
    margin-right: -20px;
	transition: .5s ease;
    border-bottom-right-radius: 30px;
    background: linear-gradient(-45deg, #f4c310  28%, rgba(9,9,121,0) 0);
    shape-outside: linear-gradient(-45deg, rgba(0,212,255,1) 0, rgba(9,9,121,0) 40%);
}

.rgba-blue {
	background: rgb(16 24 68 / 71%);
}

.card:hover .card-body::before {
	opacity: 0 !important;
}

/* ==== seekerPart ==== */
.seekerPart .bgseeker {
    position: relative;
}

.seekerPart h3 {
    font-size: 17.62px !important;
    margin: 42px 0 124px;
    font-weight: 500 !important;
    color: #4b4b4b;
}

.seekerPart .pro_one {
    position: absolute;
    left: 15%;
    top: 0;
}

.seekerPart .pro_two {
    position: absolute;
    left: 35%;
    top: 40px;
}

.seekerPart .pro_three {
    position: absolute;
    left: 25%;
    top: 210px;
}

.seekerPart .pro_four {
    position: absolute;
    left: 60%;
    top: 0;
}

.seekerPart .pro_five {
    position: absolute;
    left: 80%;
    top: 45px;
}

.seekerPart .pro_six {
    position: absolute;
    left: 85%;
    top: 295px;
}

/* ==== Bread Crumb Section ==== */
.breadcrumb-item+.breadcrumb-item::before {
	content: "\f105" !important;
	font-family: 'FontAwesome';
}

.topbreadcrumb .breadcrumb {
    background: transparent;
    border-bottom: 1px solid #7e7373;
    border-radius: 0;
    display: inline-flex;
    padding: 0;
	margin: 0;
}

.topbreadcrumb .breadcrumb  .breadcrumb-item a {
    color: #7e7373;
	text-decoration: none;
	
	font-size: 15.96px !important;
	font-weight: 600;
}

.topbreadcrumb {
    padding: 20px 0 70px;
}

/* ==== About Us page ==== */
/* ==== interJob ==== */
.interJob {
    padding: 180px 0 80px;
    text-align: center;
}

.interinner h2 {
    font-size: 21.28px!important;
    margin: 40px 0 25px;
}

.meetTeam h3 {
    font-size: 18.62px !important;
	margin: 0;
}

.meetTeam h3 a{
	color:#ff4153;
}

.interJob a {
	color: #7e7373!important;
    border-bottom: 1px solid #7e7373;
    padding-bottom: 2px;
    font-size: 15.96px;
    text-decoration: none !important;
    font-weight: 600;
}

.ptMeet {
    margin-top: 100px!important;
}

.interinner h4 {
    margin-bottom: 40px;
    font-size: 15.62px;
    font-weight: 600 !important;
    color: #7e7373;
    line-height: 25px;
}

.daimond-bg {
	height: 55px;
	width: 55px;
	background-color: #ff4153;
	transform: rotate(45deg);
	margin: 0px auto;
	transition: .5s ease;
}

.daimond-bg i {
    transform: rotate(-45deg);
    color: #fff;
    font-size: 25px;
    padding: 15px;
}

.interinner {
    padding: 50px 15px 60px;
    border-radius: 30px;
	transition: .5s ease;
}

.interinner:hover {
    background: #ff4153;
	color: #fff;
}

.interinner:hover  h2, .interinner:hover  h4 {
	color: #fff !important;
}

.interinner:hover a {
    color: #fff !important;
    border-bottom: 1px solid #fff;
}

.interinner:hover .daimond-bg {
    background: #fff;
}

.interinner:hover .daimond-bg i {
    color: #ff4153;
}

/* ==== valPart ==== */

.valPart {
    text-align: center;
    padding: 180px 0;
	position: relative;
}

.bgnumber {
   /* background-image: url('../images/about-us/bg.png'); */
	background: #ff4153;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
	height: auto;
    padding: 90px;
	width: 100%;
    margin-top: 60px;
}

.valinner {
    background: #fff;
    box-shadow: 4px -3px 2px 0 #9e9e9e54;
    border-radius: 20px;
    padding: 45px 30px;
    position: absolute;
	transform: translate(4%, -35%);
    left: auto;
    width: 21%;
}

.valinner i {
    background: #282b4a;
    color: #fff;
    width: 60px;
    padding: 18px 0;
    border-radius: 50px;
    font-size: 25px;
    margin-bottom: 25px;
}

.valinner h1 {
    font-family: 'Rubik';
}

.valinner h4 {
	font-size: 15.96px;
    color: #7e7373;
}

/* ==== meetTeam ==== */
.meetTeam {	
    text-align: center;
	padding: 0 0 180px;
}

.meetTeam h4 {
    margin: 30px 0 70px;
	color: #7e7373;
	font-size: 15.96px;
	font-weight: 600 !important;
}

.meetTeam .row h4 {
    color: #4b4b4b;
    margin: 5px 0 0;
}

.teams {
	position: relative;
	width: 50%;
	margin: 0px auto;
	margin-bottom: 30px;
}

.teams:before {
	content:"";
	width:100%;
	height:100%;
	border-radius: 100%;
	background: #ff4153;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	transition:all .35s ease 0s;
}

.teams:hover:before {
	opacity:0.6;
}

.teams img {
	width:100%;
	height:auto;
}

.teams .overlay {
	width:90%;
	height:90%;
	position:absolute;
	top:5%;
	left:5%;
}

.teams .overlay:after, .teams .overlay:before {
	content:"";
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	opacity:0;
	transition:all .7s ease 0s;
}

.teams:hover .overlay:after,.teams:hover .overlay:before {
	opacity:1;
	transform:scale(1);
	transition-delay:.15s;
}

.teams .icons {
	padding:0;
	list-style:none;
}

.teams .icons {
	width:100%;
	margin:0;
	position:absolute;
	bottom:-10px;
	left:0;
	opacity:0;
	z-index:1;
	transition:all .7s ease 0s;
}

.teams:hover .icons {
	bottom: 55px;
	opacity: 1;
	transition-delay:.15s;
}

.teams .icons li a {
	display: block;
	width: 20px;
	height: 20px;
	line-height:40px;
	font-size:20px;
	color:#fff;
	transition:all .4s ease 0s;
}

/* ==== overview ==== */

.overImg {
    box-shadow: -28px 34px 0 5px #f4c310;
    border-radius: 50px;
    width: 100%;
    overflow: hidden;
    height: auto;
}

.overview p, .readmores {
	line-height: 25px;
	margin: 60px 0 30px;
	font-weight: 600 !important;
	color: #7e7373 !important;
}

.readmores {
	margin: 0 !important;
}


/* ==== Contact Us Page ==== */
.contacts {
    padding: 120px 0;
    text-align: center;
}

.contactForm {
	text-align: center;
}

.contInner h4 {
    font-size: 23.94px !important;
    font-weight: 600 !important;
}

.contactForm form {
    padding: 80px 30px 0;
}

.contInner i {
    color: #7e7373;
    font-size: 50px;
    margin-bottom: 40px;
}

.contactForm label {
    font-size: 14.63px;
}

.contInner {
	position: relative;
	padding: 50px 15px;
    border-radius: 35px;
	transition: .5s ease;
}

.contInner:hover {
    box-shadow: 0 5px 8px 0 #ddd;
}

.contactForm .form-control {
	border-radius: 0;
	border-bottom: 1px solid #7e7373 !important;
	color: #7e7373 !important;
	border: transparent;
	padding: 10px 0;
}

.contactForm .form-group {
	margin-bottom: 60px !important;
}

.contactForm .btn-danger {
    font-size: 14.63px;
    padding: 8px 45px;
	margin-top: 25px;
}

.contactForm .form-control:focus {
    color: #282b4a ;
    background-color: #fff;
    border-bottom: 1px solid #282b4a !important;
    outline: none;
    box-shadow: none;
}

.contactMap {
    padding: 0 0 180px;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none !important;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #282b4a !important;
}

/* ==== nearJob ==== */
.nearJob .container-fluid {
    padding: 0 15px !important;
}

.nearcol {
    padding: 58px 30px 0 !important;
}

.nearJob h1 {
    font-size: 41.23px !important;
}

.nearJob h2 {
    font-size: 30.59px !important;
}

.contactForm .custom-control-input:checked~.custom-control-label::before {
    border-color: #282b4a !important;
    background-color: #282b4a !important;
}

.contactForm .custom-checkbox .custom-control-label::before, 
.contactForm .custom-checkbox .custom-control-label::after {
    border-radius: 0 !important;
	top: 3px;
}

/* ==== Term Conditions Page ==== */
.terms  {
    padding: 80px 0;
}

.terms ul {
    padding-left: 20px;
}

.terms ul li{
    line-height: 40px;
}

.terms h4 {
    font-size: 21.28px !important;
    font-weight: 600 !important;
}

.terms p {
    margin-bottom: 56px;
    margin-top: 30px;
}

.terms .f_rubik {
    font-weight: 500;
}

.exoInner {
	text-align: center;
    border-radius: 25px;
    padding: 20px;
	transition: .5s ease;
	background: #eaeaea;
	height: 100%;
}

.exoInner:hover {
    background: #ff4153;
    color: #fff;
}

.exoInner:hover i {
	color: #fff;
}

.exoInner h4 {
    font-size: 18.62px !important;
	font-weight: 600 !important;
}

.exoInner:hover p {
	color: #fff !important;
}

.exoInner p {
    font-family: 'Rubik';
	font-size: 14.63px !important;
}

.explore {
    padding: 30px 0 0;
}

.explore a, .contacts a{
    color: #282b4a !important;
    text-decoration: none !important;
}

.explore h3, .proFile h3, .latestBlog h3 {
    margin-bottom: 70px;
	padding: 0 !important;
}

.explore .row.pb-5 {
    padding-bottom: 60px !important;
}

.explore .row.pb-4 {
    padding-bottom: 70px !important;
}

.explore a.btn.btn-danger {
    font-family: 'Rubik';
	padding: 10px 30px;
    border-radius: 10px;
	font-size: 18.62px;
	color: #fff !important;
}

.exoInner i {
    color: #ff4153;
    font-size: 40px;
    margin-bottom: 40px;
}

/* ==== Profile Page ==== */
.proFile {
    padding: 150px 0;
}

.proFile .card {
  position: relative; 
  border: none;
}

.proFile .jobImage {
	border-radius: 35px;
}

.proFile .card-body {
	z-index: 2;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	padding: 19px !important;
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
	height: 50px;
}

.proFile .card-body h4 {
	margin-bottom: 0;
    font-size:  18.62px !important;
    font-weight: 600 !important;
	line-height: 10px;
}

.proFile .card-img-top {
	border-radius: 35px;
}

#slideProfile a.btn-floating.prev {
    color: #888;
    font-size: 24px;
    border: 1px solid #eee;
    border-radius: 50px;
    padding: 0 6px;
    box-shadow: rgb(50 50 93 / 10%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
    position: absolute;
    top: 150px;
    left: -75px;
}

#slideProfile a.btn-floating.next {
    color: #888;
    font-size: 24px;
    border: 1px solid #eee;
    border-radius: 50px;
    padding: 0 6px;
    box-shadow: rgb(50 50 93 / 10%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
    position: absolute;
    top: 150px;
    right: -75px;
}

/* ==== Login Page ==== */
.loginForm {
	padding: 100px 0;
}

.loginForm i {
    font-size: 14px;
}

.latestForm .form-group {
    position: relative;
    margin-bottom: 40px;
}

.latestForm .form-control-placeholder {
    position: absolute;
    top: 18px;
    transition: .5s ease;
    color: #7e7373;
	left: 20px;
	padding: 0 8px;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 0;
}

.latestForm .form-control:focus+.form-control-placeholder,
.latestForm .form-control:valid+.form-control-placeholder {
    font-size: 10.62px !important;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
	background: #fff;
	top: 8px;
}

.srchBar .form-control:focus+.form-control-placeholder,
.srchBar .form-control:valid+.form-control-placeholder {
	width: 75px;
}

.latestForm .form-control {
    background: transparent;
    border: 1px solid #7e7373;
    transition: 0.5s;
    height: calc(1.5em + .75rem + 20px);
	padding: 8px 55px 8px 25px;
    border-radius: 10px !important;
	box-shadow: none !important;
}

.latestForm input.form-control:focus,
.latestForm input.form-control:after {
    outline-width: 0;
    border: 1px solid #282b4a;
    background: transparent;
}

.latestForm i.iconSet {
    position: absolute;
    right: 20px;
    top: 20px;
	color: #7e7373;
	width: 40px;
	text-align: center;
}

.latestForm .form-control:focus i.iconSet {
    color: #ff4153 !important;
}

.loginForm input[type="submit"] {
    border-radius: 10px;
    padding: 10px;
	font-size: 18.62px;
	margin-bottom: 100px !important;
}

.loginForm h3 {
    margin-bottom: 50px;
}

.loginForm label.custom-control-label {
    padding-top: 3px;
    color: #282b4a;
}

.loginForm .custom-checkbox .custom-control-label::before {
	border-radius: 0;
}

.loginForm .custom-control-input:checked~.custom-control-label::before {
	background: #282b4a;
	border-color: #282b4a;
}

.loginForm a.forgotPwd {
    color: #4b4b4b;
}

.loginForm a.clickHere {
    font-weight: 600 !important;
	color: #282b24;
}

.loginForm .btn-floating  {
    font-size: 14.96px;
    padding: 10px 35px;
}

/* ==== btn-danger ==== */
.loginForm .btn-danger.btn-floating {
    background: #d54b3e  !important;
    border: 1px solid #d54b3e  !important;
	-webkit-transform-origin: 50% 50%;
    -webkit-transition-duration: 0.5s !important;
    -webkit-transition-timing-function: ease-out;
    -webkit-box-shadow: 50px 0px 0 0 #d54b3e  inset , -50px 0px 0 #d54b3e  inset;
}

.loginForm .btn-danger.btn-floating:hover {
	background: #ec2411  !important;
	border: 1px solid #ec2411  !important;
	-webkit-box-shadow: 0px 0px 0 0 #d54b3e inset , 0px 0px 0 #d54b3e inset;
}


/* ==== btn-primary ==== */
.loginForm .btn-primary.btn-floating {
    border: 1px solid #4268b3;
    background: #4268b3;
	-webkit-transform-origin: 50% 50%;
    -webkit-transition-duration: 0.5s !important;
    -webkit-transition-timing-function: ease-out;
    -webkit-box-shadow: 50px 0px 0 0 #4268b3 inset , -50px 0px 0 #4268b3 inset;
}

.loginForm .btn-primary.btn-floating:hover {
	background: #0069d9;
	border: 1px solid #0069d9;
	-webkit-box-shadow: 0px 0px 0 0 #4268b3 inset , 0px 0px 0 #4268b3 inset;
}

/* ==== btn-info ==== */
.loginForm .btn-info.btn-floating {
    border: 1px solid #00cdff;
    background: #00cdff;
	-webkit-transform-origin: 50% 50%;
    -webkit-transition-duration: 0.5s !important;
    -webkit-transition-timing-function: ease-out;
    -webkit-box-shadow: 50px 0px 0 0 #00cdff inset , -50px 0px 0 #00cdff inset;
}

.loginForm .btn-info.btn-floating:hover {
	background: #0d99bc;
	border: 1px solid #0d99bc;
	-webkit-box-shadow: 0px 0px 0 0 #00cdff inset , 0px 0px 0 #00cdff inset;
}

.loginForm .form-check-input:checked {
    border-color: #282b4a!important;
    background-color: #282b4a!important;
}

/* ==== Candidate Deails Page ==== */
.rightcandi {
	position: relative;
}

.rightcandi i {
	color: #4b4b4b;
}

.rightcandi h6 {
    color: #35343a !important;
	font-size: 18.62px !important;
}

.rightcandi .list-inline-item:not(:last-child) {
    margin-right: 14px;
}

.candidate{
	padding: 0 0 100px
}

.candidate p {
    margin-bottom: 25px;
	display: flex;
}

.candidate .leftcandi i.fa.fa-caret-right {
    color: #36353a !important;
    border: none !important;
    width: auto !important;
    border-radius: 0 !important;
    padding: 0 !important;
	font-size: 18px;
}

.leftcandi h5 {
    font-size: 18.62px !important;
    margin-bottom: 35px;
}

.leftcandi .pt-3 {
    padding-top: 40px !important;
}

.leftcandi i.fa.fa-check{
    margin-right: 24px !important;
	margin-top: 5px;
}

.rightcandi .border-top {
	border-top: 1px solid #ddd !important;
}

.rightcandi .form-control {
    border: 1px solid #7e7373;
    color: #7e7373 !important;
    padding-left: 17px;
    border-radius: 0;
}

.form-check-label {
	padding-left: 12px;
}

.rightcandi input[type="submit"] {
	font-size: 18.62px;
}

.form-check-input{
	border: 1px solid #7e7373!important;  
	width: 1rem!important;
    height: 1rem!important;
}

 .form-check-input[type=checkbox]{
	border-radius: 0!important;
}

 .form-check-input:checked{
	 border-color: #ff4153!important;
	background-color: #ff4153!important;
}

 .form-check-input:focus{
	box-shadow: none!important;
}

.checkbox {
    margin: 0 15px;
}


.rightcandi label.custom-control-label, 
.companyRight_list label.custom-control-label,
.joblist_Left label.custom-control-label{
    padding-left: 10px;
	color: #4b4b4b;
	font-weight: 500 !important;
}

.rightcandi .bg-dark {
	background: #282b4a !important;
	color: #fff !important;
}

.rightcandi .banner-text{
    position: absolute;
    top: 15px;
    left: 12%;
    border: 1px solid #ff4153;
    padding: 10px 8px;
}

.leftcandi h3 {
	margin-bottom: 40px;
	font-size: 23.94px !important;
}

.leftcandi .media .media-body p {
    font-size: 18.62px !important;
}

.leftcandi .media .media-body p.grdPera {
    font-size: 15.62px !important;
}

h3.disColor {
    color: #36353a;
	margin-bottom: 35px;
}

.leftcandi .pt-5{
	padding-top: 50px !important;
}

.grad-ui li:first-child {
    font-size: 15.96px;
}

.grad-ui li:last-child {
	color: #36353a !important;
}

.rightcandi .row.pt-5, .py-5 {
    padding-top: 70px !important;
}

.grad-ui li , .muted li, .leftcandi li  {
    line-height: 28px;
}

.leftcandi .btn-danger {
    padding: 15px 12px;
    border-radius: 10px;
	font-size: 18.62px;
}

/* ==== Pricing Page ==== */
.pricing {
	padding: 100px 0 150px;
}

.pricing h3 {
	margin-bottom: 70px !important;
}

.pricing_inner:hover .btn-outline-dark{
    color: #ff4153 !important;
	border: 1px solid #fff !important;
}

.pricingForm {
    padding: 0 0 100px;
}

.pricingForm form.form-horizantal {
    margin-top: 76px;
}

.pricingForm input[type="submit"] {
    font-size: 15.96px;
    padding: 8px 40px;
}

.pricing_inner {	
	text-align: center;
	background: #fff;
	padding: 50px 20px;
	border-radius: 40px;
	transition: .5s ease;
	position: relative;
	overflow: hidden;
}

.pricing_inner h4 {
    font-weight: 600 !important;
    font-size: 23.94px;
}

.ribbon {
	position: absolute;
	width: 150px;
	height: 150px;
}

.ribbon span br, .banner-text br, .listRight h5 br {
    display: block;
}

.ribbon span {
	position: absolute;
	display: block;
	width: 225px;
	padding: 5px 0;
	background: #282b4a;
	color: #fff;
	text-align: center;
}

/* ==== top right ==== */
.ribbon-top-right {
	top: -10px;
	right: -10px;
}

.ribbon-top-right span {
	left: -35px;
	top: 30px;
	transform: rotate(35deg);
	line-height: 15px;
}

.pricing_inner:hover {	
	background: #ff4153;
	box-shadow: 0 5px 8px 1px rgba(0,0,0,0.2);
}

.pricing_inner:hover p {	
	color: #fff !important;
}

.pricing_inner i.mainIcon {
    font-size: 51.87px !important;
    margin-bottom: 30px;
}

.pricing_inner h2{
	font-family: 'Rubik';
}

.pricing_inner:hover h1, .pricing_inner:hover h4, .pricing_inner:hover h2 {	
	color: #fff !important;
}

.pricing_inner:hover button {	
	color: #ff4153;
	background: #fff;
	border: 1px solid #ff4153;
}

.pricing_inner span {
	font-family: 'Raleway';
	font-size: 12.62px;
	font-weight: 500;
}

.pricing button {
    padding: 8px 30px;
	transition: .5s ease;
}

.pricingForm h6 {
    font-size: 18.62px;
    font-weight: 500 !important;
    color: #4b4b4b !important;
}

.pricing i.fa.fa-check {
	opacity: 0;
	transition: .5s ease;
	margin-left: -25px;
}

.pricing_inner:hover i.fa.fa-check {	
	color: #fff;
	opacity: 1;
}

.pricing_inner:hover i {	
	color: #fff;
}

.pricing h2 i {
    font-size: 40px;
    margin-bottom: 30px;
}

.pricingForm .form-control {
	border: 1px solid #7e7373;
	height: calc(1.5em + .75rem + 15px);
	border-radius: 0;
	color: #7e7373 !important;
}

.pricingForm .form-control:focus{
   border: 1px solid #282b4a;
   box-shadow: none;
   color: #282b4a !important;
}

.pricingForm textarea.form-control {
	height: auto;
}

/* ==== intro ==== */
.intro {
	position: relative;
}

.intro .caption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 2;
	color: #fff;
	font-family: 'Rubik';
}  

.intro .overlay {
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	pointer-events: none;
}

.intro .overlay svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.way-success {
    background: #f4c310;
    width: 370px;
    height: 190px;
    margin: 0px auto;
    border-radius: 190px 190px 0 0;
}

.way-inner {
    border: 2px dashed #fff;
	border-bottom: transparent;
	border-radius: 190px 190px 0 0;
	height: 180px;
	width: 350px;
    margin: 0 auto;
	padding-top: 60px;
}

/* ==== Footer ==== */
#footer {
	background: #282b4a;
	color: #fff;
	padding-bottom: 20px;
	position: relative;
}

#footer h5 {
    font-size: 18.62px;
	font-weight: 600 !important;
}

#footer ul li a {
    color: #fff;
	font-size: 15.96px;
}

#footer ul li a:hover {
    color: #fff;
	text-decoration: none;
}

#footer img {
	margin-bottom: .5rem;
	max-width: 189px;
	margin-top: -39px;
}

#footer .footer_inner .list-unstyled li {
    margin: 3px 0;
}

#footer .footer_inner .input-group.mb-4 {
    margin-bottom: 30.59px !important;
}

#footer .media {
	align-items: baseline;
}

#footer .media i {
    width: 30px;
    font-size: 15px;
}

#footer .media .fa-envelope{
	font-size: 18px;
}

#footer ul.list-inline li a i {
	font-size: 22.94px;
}

#footer  .list-inline-item:not(:last-child) {
	margin-right: 24.94px;
}

#footer .footer_inner {
    margin-top: 20px;
	margin-bottom: 30px;
}

#footer .footer_inner input.form-control {
    background: transparent;
    border: 1px solid #fff;
	height: auto;
	color: #fff !important;
}

#footer .footer_inner input.form-control:focus{
	border: 1px solid #fff;
	box-shadow: none;
}

#footer .footer_inner button.btn.btn-white {
    background: #fff;
    border: 1px solid #fff;
	padding: 0 10px;
	color: #282b4a;
}

#footer .footer_inner p {
    color: #fff !important;
}

#footer .footer_inner .input-group{
	width: 100%;
}

/* ==== button css start here ==== */
.btn-danger {
    background-color: #f4c310 !important;
    border-color: #f4c310 !important;
	-webkit-transform-origin: 50% 50%;
    -webkit-transition-duration: 0.5s !important;
    -webkit-transition-timing-function: ease-out;
    -webkit-box-shadow: 50px 0px 0 0 #f4c310 inset , -50px 0px 0 #f4c310 inset;
}

.btn-dark {
    background: #282b4a !important;
	border-color: #282b4a !important;  
	-webkit-transform-origin: 50% 50%;
    -webkit-transition-duration: 0.5s !important; 
    -webkit-transition-timing-function: ease-out;
    -webkit-box-shadow: 50px 0px 0 0 #282b4a inset , -50px 0px 0 #282b4a inset;
}

.btn-outline-dark {
	border: 1px solid #282b4a !important;
	color: #282b4a !important;
	background: #fff;
	-webkit-transform-origin: 50% 50%;
    -webkit-transition-duration: 0.5s !important; 
    -webkit-transition-timing-function: ease-out;
    -webkit-box-shadow: 50px 0px 0 0 #fff inset , -50px 0px 0 #fff inset;
}

.btn-secondary {
	-webkit-transform-origin: 50% 50%;
    -webkit-transition-duration: 0.5s !important; 
    -webkit-transition-timing-function: ease-out;
    -webkit-box-shadow: 50px 0px 0 0 #6c757d inset , -50px 0px 0 #6c757d inset;
}

/* ==== btn-hover cs ==== */
.btn-danger:hover {
    background: #282b4a !important;
	border-color: #282b4a !important;
	-webkit-box-shadow: 0px 0px 0 0 #ff4153 inset , 0px 0px 0 #ff4153 inset;
}

.btn-dark:hover {
    background-color: #ff4153 !important;
    border-color: #ff4153 !important;
	-webkit-box-shadow: 0px 0px 0 0 #282b4a inset , 0px 0px 0 #282b4a inset;
}

.btn-outline-dark:hover {
    background-color: #fff !important;
    border-color: #fff !important;
	color: #fff !important;
	-webkit-box-shadow: 0px 0px 0 0 #282b4a inset , 0px 0px 0 #282b4a inset;
}

.btn-secondary:hover {
	-webkit-box-shadow: 0px 0px 0 0 #6c757d inset , 0px 0px 0 #6c757d inset;
}

/* ==== width css ==== */
.w-90 {
	width: 90%;
	margin-top: -30px;
}

/* ==== text color ==== */
.text-red {
    color: #3d5374!important;
}

/* ==== more css here ==== */
.morecontent span, .readcontent span {
    display: none;
}

.more {
    padding: 30px 0 0;
    line-height: 25px;
}

.readlink, .morelink, .readmorelink {
    color: #282b4a !important;
    text-decoration: none !important;
	font-weight: 600 !important;
}

.morelink:hover, .readlink:hover {
	text-decoration: none;
	color: #282b4a ;
}

/* ==== Faq Page ==== */
.frequently {
    padding: 120px 0;
}

.frequently  a {
	display: flex;
	position: relative;
	font-size: 18px;
	font-weight: 100;
	color: #282b4a;
	padding: 15px 26px;
	border: 1px solid #282b4a;
	transition: .5s ease;
}

.frequently  a:hover {
	text-decoration: none;
	color: #282b4a;
}

.frequently  a:before {
	content: "\f068";
	font-family: 'FontAwesome';
	padding-right: 33px;
}

.frequently a.collapsed:before {
	content: "\f067	";
	font-family: 'FontAwesome';
}

.frequently .accordion-item {
	margin-bottom: 25px;
	border: none;
}

.frequently .accordion-header {
    background: #fff;
    border-radius: 0 !important;
	transition: .5s ease;
	padding: 0;
}

.frequently .accordion-header  a[aria-expanded="true"] {
    background: #ff4153 !important;
    color: #fff !important;
	border: 1px solid #ff4153;
}

.frequently .accordion-body {
	padding: 30px 0 0 80px;
}

.stillGot h2{
	margin: 120px 0 70px;
}

.stillGot p {
    margin: 23px 0 53px;
}

.stillGot .form-group {
    margin-bottom: 30px;
}

.stillGot button.btn.btn-danger {
    padding: 10px 30px;
}

.stillGot {
	padding: 0 0 100px;
	position: relative;
}

.stillGot .form-control {
	border: 1px solid #7e7373;
	color: #7e7373 !important;
	height: auto;
	padding: 10px 23px;
	border-radius: 7px;
}

.stillGot .form-control:focus {
	box-shadow: none;
	border: 1px solid #4b4b4b;
	color: #4b4b4b !important;
}

.stillGot textarea.form-control {
	height: auto;
}

.still-text {
    position: absolute;
    top: 160px;
    left: 40px;
	width: 80%;
}

.still-text h2 {
	font-size: 30.59px !important;
	margin: 0;
}

/* ==== Job Deails Page ==== */
.candidate .media i {
    color: #ff4153;
    border: 1px solid #ff4153;
    width: 40px;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    padding: 8px;
    margin-right: 10px;
	margin-top: -5px;
}

.candidate .muted i {
    color: #282b4a !important;
    border: none !important;
    width: auto;
    margin-right: 8px !important;
	padding: 5px 0;
	font-size: 15px;
	margin-top: 0;
}

.leftcandi .media.py-2 {
    padding-bottom: 30px !important;
}

.candidate .grad-ui, .grdPera {
	padding-left: 18px;
}

.candidate  .media-body h4 {
	font-size: 23.94px !important;
	color: #4b4b4b !important;
	margin:0 0 15px;
}

.candidate h4 {
	font-size: 23.94px !important;
	color: #282b24 !important;
	margin:50px 0 35px;
}


.rightcandi td.text-end {
    font-family: 'Rubik';
}

.rightcandi td {
    border-top: none !important;
	padding: .75rem 0 !important;
	color: #4b4b4b;
}

.rightcandi .border-bottom {
    margin: 15px 0;
}

/* ==== Profile page css start here ==== */
.profileMain {
    padding: 100px 0;
}

.profile_banner h2 {
	font-size: 23px;
}

.profileMain .jobImage {
	border-radius: 30px;
}

.com-register .jobImage {
	border-radius: 30px !important;
}

.profileMain .card-body {
	z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 9px 0;
    left: 0;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.profile_banner {
    background-image: url('../images/profile/banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
	padding: 50px 0;
}

.profile_right h3 {
    font-weight: 600 !important;
    color: #4b4b4b;
}

.proLinks {
    padding: 53px 0;
}

.proLinks .btn-block+.btn-block {
	margin-top: 20px;
}

.proLinks a {
	text-align: left;
	padding: 15px .75rem;
	font-size: 15.96px;
	border-radius: 10px;
}

.proLinks .btn-outline-danger {
    color: #4b4b4b !important;
    border-color: #4b4b4b !important;
	background: #fff;
	-webkit-transform-origin: 50% 50%;
    -webkit-transition-duration: 0.5s !important;
    -webkit-transition-timing-function: ease-out;
    -webkit-box-shadow: 50px 0px 0 0 #fff inset , -50px 0px 0 #fff inset;
}

.proLinks .btn-outline-danger i {
    color: #7e7373;
	transition: .5s ease;
}

.proLinks .btn-outline-danger:hover {
    background-color: #ff4153 !important;
    border-color: #ff4153 !important;
	color: #fff !important;
	-webkit-box-shadow: 0px 0px 0 0 #fff inset , 0px 0px 0 #fff inset;
}

.proLinks .btn-outline-danger:hover i {
	color: #fff;
}

.profile_right a {
    font-size: 14.63px;
    margin-left: 40px;
}

.profile_right .border {
    border: 1px solid #7e7373 !important;
}

.profile_right .form-control {
    border: 1px solid #7e7373;
	color: #7e7373 !important;
    border-radius: 0;
	height: auto;
	padding: 10px 15px;
}

.profile_right textarea.form-control {
    height: auto !important;
}

.profile_right #update {
	font-size: 18.62px;
}

.profile_right h6 {
    font-size: 14.63px;
    font-weight: 600 !important;
}

.profile_right .form-control:focus {
    border: 1px solid #282b4a;
	box-shadow: none;
}

.profile_right input[type="number"], input[type="date"] {
	font-family: 'Rubik';
}

.profile_right .form-group {
    margin-bottom: 23px;
}

/* ==== Not Found page ==== */
.not_found {
    padding: 40px 0;
	text-align: center;
}

.notfound_bg {
    background-image: url(../images/error/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 220px 0 0;
    position: relative;
}

.notfound_bg h1 {
    position: absolute;
    font-size: 280px !important;
    font-family: 'Rubik';
    color: #7e7373 !important;
    left: 24%;
	top: 34%;
    z-index: -1;
}

img.bulb {
    transform: translate(-70%, -50%);
    position: absolute;
    left: 50%;
    top: 35%;
}

.not_found h2 {
    font-size: 52.87px !important;
}

.not_found h3 {
    font-size: 21.28px !important;
	margin: 40px 0 30px !important;
	font-weight: 500 !important;
	color: #7e7373;
}

.notfound_content {
	padding: 100px 0;
}

.not_found a {	
    font-size: 18.62px;
    padding: 10px 37px;
}

/* ==== Candidate Listing Page ==== */

.candidateList h3, .jobListing h3, .company_list h3 {
    text-align: center;
    margin: 100px 0 70px;
}

/*.candidateList .btn-outline-dark:hover {
    background-color: #282b4a !important;
    border-color: #282b4a !important;
	color: #fff;
	-webkit-box-shadow: 0px 0px 0 0 #fff inset , 0px 0px 0 #fff inset;
}*/

.listCandidates {
	margin: 100px 0;
	padding: 10px 15px 15px;
	border-radius: 10px;
	transition: 1s ease;
}

.candidateList input#input-search {
    color: #fff !important;
    height: auto;
    padding: 12px 10px;
}

.listCandidates:hover .listRight a.btn-outline-dark,
.joblist_Right .card:hover ul.list-inline li.list-inline-item a.btn.btn-outline-dark,
.companyLeft_list .card:hover ul.list-inline li.list-inline-item a.btn.btn-outline-dark {
	background-color: #282b4a !important;
    border-color: #282b4a !important;
	color: #fff !important;
	-webkit-box-shadow: 0px 0px 0 0 #fff inset , 0px 0px 0 #fff inset !important;
}

.listCandidates:hover {
	box-shadow: 5px 0 8px 0 #ddd;
}

.listCandidates h5 {
    color: #4b4b4b;
	margin-bottom: 20px;
	font-size: 20px !important;
}

.listCandidates li {
	font-size: 15.62px !important;
}

.listCandidates .editText li {
    font-size: 15.62px !important;
	font-weight: 500 !important;
}

.listCandidates i {
    font-size: 13px;
	margin-right: 10px !important;
}

.listCandidates .jobImage {
	border-radius: 15px;
}

.listCandidates .media-body, .listRight {
    padding: 17px 20px 0;
}

.listRight h5 {
    font-weight: 500 !important;
	margin: 0;
}

.candidateList .form-control {
    height: auto;
	padding: 12px 20px;
	border: 1px solid #4b4b4b;
	color: #4b4b4b !important;
}

.candidateList .form-control:focus {
    box-shadow: none;
	border: 1px solid #282b4a;
}

.candidateList .list-inline-item:not(:last-child) {
    margin-right: 40px;
}

.candidateList .listRight h5 {
	font-family: 'Rubik';
	margin-bottom: 19px;
	font-size: 20px !important;
}

.candidateList .listRight span {
	font-size: 15.96px;
    color: #ff4153;
    font-family: 'Raleway';
    font-weight: 500;
}

.candidateList .listRight  a.btn-outline-dark {
	padding: 5px 35px;
	font-size: 18.62px;
	margin-top: 20px;
}

.f_rubik {
	font-family: 'Rubik';
}

.candidateList .page-item.active .page-link {
	background: #282b4a;
	border-color: #282b4a;
}

.candidateList .page-link {
	padding: .5rem 15px;
	border: none;
	color: #282b4a;
}

/* ==== Coming Soon page ==== */
.comingSoon {
	background-image: url('../images/coming-soon/banner.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: #fff !important;
	padding: 117px 0;
}

.comingSoon .progress {
	height: 5px;
	background: #dc3545;
	margin-bottom: 40px;
}

.comingSoon .progress-bar {
	background: #fff;
	width: 60%;
	border-radius: .25rem;
}

.comingSoon h1 {
	font-size: 83.87px !important;
	margin-bottom: 124px;
	color: #fff !important;
	font-weight: 500 !important;
}

.progressMain {
    width: 70%;
    margin: 0px auto;
	text-align: right;
}

.progressMain span {
    font-size: 18.62px;
}

.comingSoon p {
    font-size: 23.94px !important;
	margin: 40px 0 70px !important;
}

.comingSoon input.form-control {
    height: calc(1.5em + .75rem + 15px);
	font-size: 18.62px !important;
	padding-left: 20px;
	border-radius: 8px;
	box-shadow: none;
	color: #4b4b4b;
	border: 1px solid #fff;
}

.comingSoon .btn.btn-dark {
    font-size: 18.62px;
    padding: 5px 40px;
	border-radius: 8px;
}

.comingSoon form {
	padding: 0 40px;
}

/* ==== Company Listing Page ==== */
.company_list {
    padding: 0 0 100px;
}

.companylistForm .form-group {
	width: 100%;
}

.companyRight_list a {
    font-size: 21.28px;
    color: #4b4b4b !important;
    font-weight: 600!important;
	line-height: 20px;
}

.companyRight_list h2.mb-0 {
    line-height: 5px;
}

.company_list .col-sm-8 {
    padding-right: 3rem!important;
}

.companyLeft_list, .companyRight_list {
    padding: 50px 0 0;
}

.companylistForm .form-control {
	width: 82% !important;
	box-shadow: none !important;
	color: #282b4a;
	height: calc(1.5em + .75rem + 15px);
}

.company_list .form-control {
	height: calc(1.5em + .75rem + 15px);	
	border: 1px solid #7e7373 !important;
	color: #7e7373 !important;
	padding-right: 10px;
}

.srchBar #search {
    height: calc(1.5em + .75rem + 16px);
	border-radius: 5px !important;
}

.srchBar i.iconSet {
    position: revert !important;
    left: -15px;
    top: 4px;
    font-size: 16px !important;
	padding-right: 4px;
	width: auto;
}

.company_list .text-secondary, .candidate .text-secondary  {
    color: #7e7373 !important;
}

.srchBar label.form-control-placeholder {
    left: 0;
	right: 0;
	font-size: 15.62px;
	width: 108px;
	margin: 0px auto;
	top: 13px;
	font-weight: 500;
}

/*.company_list #search:hover {
	background-color: #282b4a !important;
    border-color: #282b4a !important;
    color: #fff !important;
    -webkit-box-shadow: 0px 0px 0 0 #fff inset, 0px 0px 0 #fff inset;
}*/

.companylistForm .form-control:focus {
	border: 1px solid #282b4a;
}

.companyLeft_list .card-img-top {
	margin: 20px  0;
	width: 30%;
}

.companyLeft_list .btn-dark {
	padding: 4px 30px;
	font-size: 18.62px;
}

.companyLeft_list .card-body {
    padding: 0;
}

.companyLeft_list .card {
    background: #fff;
    border-radius: 25px;
	transition: .5s ease;
	border: 0;	
	height: 100%;
	width: 90%;
	padding: 30px 30px 15px;
	text-align: center;
}

.companyLeft_list .card:hover {
    box-shadow: 0 5px 8px 0 #ddd;
}

.companylistForm .dropdown-container:after{
	right:15px;
}

.companyRight_list .accordion {
	margin-bottom: 30px !important;
}

.companyRight_list .card-header {
    background: #fff;
    border-bottom: 0;
}

.companyRight_list .accordion-header  a {
    color: #282b4a;
	text-decoration: none;
}

.companyRight_list .form-check{
	padding-left: 10px!important;
}

.companyRight_list .accordion-header {
    padding: 12px 20px;
}

.companyRight_list .accordion-item.card {
    border-radius: 5px;
}

.lft .banner-text {
	left: 8%;
}

/* ==== Pagination Section ==== */
a.page-link {
    border: none;
    color: #282b2a;
}

a.page-link i{
	font-size:12px;
}

.page-item.active .page-link {
    background: #282b4a !important;
    border: 1px solid #282b4a !important;
}

/* ==== Job Listing Page ==== */
.

.girl {
    position: absolute;
    top: 0;
    left: 54%;
    width: 100%;
    max-width: 210px;
}

.jobListing .form-row{
	margin-right: -5px;
    margin-left: -10px;
}

.jobListing {
    padding: 50px 0;
}

.jobListing i {
    font-size: 18px;
}

.joblist_Left .card {
    border-radius: 0;
    margin-bottom: 13px;
	border: 1px solid #7e7373;
}

.joblist_Left .card .custom-control-label::after {
	border: 1px solid #4b4b4b;
}

.joblist_Left h4 {
    font-size: 21.28px;
    color: #4b4b4b;
    padding-bottom: 42px;
	font-weight: 600 !important;
}

.jobListing .col-sm-9 {
    padding-left: 3rem!important;
}

.joblist_Left{
	padding: 50px 0 0;
}

.joblist_Right {
	padding: 40px 0 0;
}

.joblist_Left h5 { 
	padding: 40px 0 20px;
}

.joblist_Left a { 
	color: #282b4a !important;
	text-decoration: none !important;
	font-weight: 600;
}

.joblist_Left .custom-checkbox .custom-control-label::before {
    border-radius: 0 !important;
}

.joblist_Left .custom-control-input:checked~.custom-control-label::before {
    background: #282b4a;
	border: 1px solid #282b4a;
}

.joblist_Left .form-check-input:checked {
    border-color: #282b4a!important;
    background-color: #282b4a!important;
}

.joblist_Left .form-check-input{
	border: 1px solid #4b4b4b!important;
}

.joblist_Right img.card-img-top {
    width: 100%;
    max-width: 100px;
	margin: 15px auto;
}

.joblist_Right .card {
	text-align: center;
	transition: .5s ease;
	background: #e9e9e9;
	border-radius: 30px;
	border: none;
	height: 100%;
	width: 92%;
	padding: 30px 30px 15px;
}

.joblist_Right .card-body {
	padding: 0;
}

.joblist_Right .card:hover {
	box-shadow: 0 5px 8px 0 #ddd;
}

.joblist_Right .listIcon, .companyLeft_list .listIcon {
    position: absolute;
    right: 25px;
    top: 25px;
}

.joblist_Right .listIcon a i, .companyLeft_list .listIcon a i {
    font-size: 20px;
    padding: 5px 0;
	color: #4b4b4b;
	margin-left: 17px;
}

.joblist_Right h4, .companyLeft_list h4 {
    font-size: 21.28px !important;
	margin-top: 35px;
	margin-bottom: 16px !important;
	font-weight: 500 !important;
}

.joblist_Right p.peraOn, .companyLeft_list  p.peraOn{
    font-size: 18.62px !important;
	margin: 0;
	color: #7e7373 !important;
}

.joblist_Right p, .companyLeft_list  p {
    margin: 24px 0 36px;
	font-size: 14.63px !important;
}

.interView p{
	margin: 20px 0 0;
	font-size: 14.63px !important;
	font-weight: 600 !important;
    line-height: 25px;
	color: #7e7373 !important;
}

.companyLeft_list .listIcon i.fa.fa-heart-o:hover::before, 
.joblist_Right .listIcon i.fa.fa-heart-o:hover::before {
	content: "\f004" !important;
}

.companyLeft_list .listIcon i:hover, .joblist_Right .listIcon i:hover{
	color: #ff4153 !important;
}

.joblist_Right .btn-outline-dark{
    padding: 4px 27px;
	background: #e9e9e9 !important;
	-webkit-box-shadow: 50px 0px 0 0 #e9e9e9 inset , -50px 0px 0 #e9e9e9 inset;
	font-weight: 600;
	font-size: 18.62px !important;
}

.companyLeft_list  .btn-outline-dark {
    padding: 4px 30px;
	background: #fff !important;
	-webkit-box-shadow: 50px 0px 0 0 #fff inset , -50px 0px 0 #fff inset;
	font-size: 18.62px !important;
	font-weight: 600;
}

.companyLeft_list .btn-outline-dark:hover {
    background-color: #282b4a !important;
    border-color: #282b4a !important;
    -webkit-box-shadow: 0px 0px 0 0 #fff inset , 0px 0px 0 #fff inset;
}

.companyRight_list .card {
    border: 1px solid #4b4b4b;
}

.joblist_Right a.readmorelink {
    font-weight: 600 !important;
}

.joblist_Right .jobImage {
	border-radius: 20px;
}

.joblist_Right ul li:first-child, .companyLeft_list ul li:first-child {
    font-size: 14.63px !important;
	color: #7e7373 !important;
}

.joblist_Right ul li:first-child i, .companyLeft_list ul li:first-child i {
	font-size: 14px;
}

.joblist_Right .showing, .company_list .showing, .candidateList .showing {
    margin: 0 !important;
    font-family: 'Rubik';
    float: right;
    padding-top: 8px;
}

.srchBar .form-group {
    margin: 0;
}

.company_list .lft {
    padding-top: 70px !important;
}

.joblist_Right .pagination, .company_list .pagination {
	margin: 0;
}

.jobListing .btn-danger {
	padding: 10px 10px;
}

.jobListing .btn-dark {
	padding: 12px 10px;
	background: #4b4b4b !important;
	border: 1px solid #4b4b4b;
	-webkit-transform-origin: 50% 50%;
    -webkit-transition-duration: 0.5s !important; 
    -webkit-transition-timing-function: ease-out;
    -webkit-box-shadow: 50px 0px 0 0 #4b4b4b inset , -50px 0px 0 #4b4b4b inset;
}

.jobListing .btn-dark:hover {
	background-color: #282b4a !important;
    border-color: #282b4a !important;
	-webkit-box-shadow: 0px 0px 0 0 #4b4b4b inset , 0px 0px 0 #4b4b4b inset;
}

.interView h1 {
    font-size: 41.23px !important;
}

.interView p.readmore {
    margin-top: 15px;
    font-size: 18.62px;
    margin-bottom: auto;
}

.jobListing .form-control {
    height: auto;
	box-shadow: none !important;
	border: 1px solid #4b4b4b;
	color: #4b4b4b !important;
	padding: 12px 20px;
}

.jobListing select.form-control:focus {
	border: 1px solid #282b4a;
}

.stillGot .text-secondary {
    color: #4b4b4b!important;
}

.stillGot h4 {
    font-weight: 600 !important;
}


/* ==== Blog ==== */
.blogs, .blog-detail {
	padding: 0 0 100px;
}

.blogs .latestBlog, .blog-detail .latestBlog{
	padding: 0 15px 0 !important;
}

.l-blog {
    font-size: 16.67px !important;
    font-weight: 500 !important;
    color: #4b4b4b;
}

.blogs .blog-head, .blog-detail .blog-head {
	padding: 10px 0 70px !important;
}

.blogs .mb-6 {
    margin-bottom: 50px;
}

.blog-right .srchBar #search {
    border-radius: 0 !important;
}

.blog-right h4 {
    font-size: 20.83px !important;
    font-weight: 600 !important;
    margin: 70px 0 40px;
}

.blog-right {
    padding-left: 50px !important;
}

.blog-right p.text-red{
    margin: 30px 0 20px !important;
	font-weight: 600!important;
}

.blog-right p {
    font-size: 16.67px !important;
}

.categories-list a{
	color: #7e7373 !important;
}

.categories-list p:hover a:before{
	color: #ff4153 !important;
	font-weight: 600 !important;
	content: "\f178";
	font-family: "FontAwesome";
	margin-right: 10px;
}

.categories-list p:hover a{
	color: #ff4153 !important;
	font-weight: 600 !important;
}

.blog-right .banner-text {
    border: none;
	left: 2px;
    top: 0;
}

.blog-right img.teamimage {
    max-width: 83px;
	max-height: 83px;
    margin-right: 20px;
}

.blog-right .media {
    margin-bottom: 20px;
	transition: .5s !important;
	position: relative;
}

.blog-right .media:before {
    content: "";
	width: 83px;
    height: 83px;
    border-radius: 100%;
    background: #ff4153;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .35s ease 0s;
}

.blog-right .media:hover:before {
    opacity: 0.6;
}

.blog-right ul li.list-item:first-child {
    font-size: 14.58px !important;
}

.blog-right ul li.list-item:last-child {
    font-size: 16.67px !important;
}

.blog-right li.list-item {
    color: #7e7373 !important;
}

.blog-right a{
	text-decoration: none !important;
}

.blog-right .media:hover ul li.list-item:last-child {
	font-weight: 600 !important;
	color: #ff4153 !important;
}

.blog-right .rightcandi {
    padding: 70px 0 0;
}

/* ==== Blog detail ==== */
.detail-inner a.btn.btn-danger {
    font-size: 16.67px !important;
    padding: 5px 30px;
}

.detail-inner h4 {
    font-size: 24px !important;
    margin: 30px 0 20px;
}

.detail-inner .jobImage {
    margin: 70px 0;
	border-radius: 27px;
}

.detail-inner span.dateTop {
    top: 26px;
    right: 26px;
    font-size: 24px;
    border-radius: 10px;
}

.detail-inner sup {
    top: -5px !important;
	font-size: 70%;
}

.detail-inner p {
    font-size: 16.67px !important;
    margin-bottom: 30px;
}

.detail-inner .listRight li::marker {
    font-size: 25px;
}

.detail-inner .listRight {
    padding: 0 0 0 20px;
	margin-bottom: 30px;
}

.detail-column {
	margin: 70px 0!important;
}

.detail-column .jobImage {
	border-radius: 12px;
	margin: 0;
}

.socialaaps {
    margin-top: 100px!important;
    margin-bottom: 120px;
}

.socialaaps h5 {
    font-size: 20.83px !important;
    font-weight: 600 !important;
	margin-bottom: 0;
}

.socialaaps ul.list-inline {
    text-align: right;
	margin-bottom: 0;
}

.socialaaps ul li a {
    color: #7e7373;
    font-size: 19px;
}

.socialaaps ul li a:hover{
    color: #0056b3 !important;							
}

.socialaaps ul .list-inline-item:not(:last-child),
.detail-inner .media  ul .list-inline-item:not(:last-child) {
    margin-right: 17px !important;
}

.detail-inner .contactForm {
	text-align: left !important;
	padding-right: 100px;
}

.detail-inner .contactForm form {
	padding: 70px 0 0;
}

.detail-inner .contactForm .form-group{
	margin-bottom: 50px !important;
}

.detail-inner .contactForm .form-control{
	font-size: 14.58px !important;
	padding: 10px 20px;
}

.contactForm .btn-danger {
	font-size: 16.67px !important;
	border-radius: 6px;
	padding: 10px 45px;
}

.contactForm .form-check-input:checked {
    border-color: #282b4a !important;
    background-color: #282b4a !important;
}

.detail-inner img.teamimage {
	max-width: 108px;
    max-height: 108px;
    margin-right: 20px;
}

.detail-inner .media {
    margin: 70px 0;
}

.detail-inner .media h5.mt-0 {
    font-size: 16.67px !important;
    font-weight: 600 !important;
    margin-bottom: 15px;
}

.detail-inner .media .maketime{
    font-size: 14.58px !important;
	color: #7e7373 !important;
    margin-bottom: 25px;
}	

.detail-inner .media.mb-20 {
	margin-bottom: 120px;
}

.detail-inner .media  ul li a {
    font-size: 14.58px !important;
    color: #4b4b4b;
    text-decoration: none !important;
}

.detail-inner .media  ul.list-inline {
	margin-bottom: 30px;
}

.blog-detail .pl-6 {
	padding-left: 70px !important;
}

/* ==== employer-login ==== */
.employer-login {
    padding: 70px 0 100px !important;
}

.login-inner {
    box-shadow: 0 10px 60px 1px rgba(0,0,0,.08)!important;
}

.login-sec {
    padding: 63px 70px;
}

.employer-login h3 {
    margin-bottom: 20px;
    font-size: 29.17px !important;
}

.employer-login h4 {
    font-size: 20.83px !important;
    font-weight: 600 !important;
    margin-bottom: 70px;
}

.login-sec .form-control {
    border-radius: 50px !important;
    font-size: 16.67px !important;
    padding: 8px 80px !important;
}

.login-sec i.iconSet {
    left: 40px;
	width: 30px;
}

.login-sec .form-control:focus .login-sec i.iconSet{
	color: red !important;
}

.login-sec .custom-control-input:checked~.custom-control-label::before {
    background: #4b4b4b;
    border-color: #4b4b4b;
}

.justlogin .form-check-input:checked {
    border-color: #4b4b4b!important;
    background-color: #4b4b4b!important;
}

.login-sec .justlogin {
    padding: 25px 25px 0;
	font-size: 14.58px !important;
}

.login-sec input#login {
    border-radius: 50px;
    margin: 70px 0 40px !important;
	font-size: 20.83px !important;
}

/* ==== Company-register ==== */
.fileUpload input#uploadFile {
    display: none;
}

.fileUpload .upload {
	width: 100%;
	margin-bottom: 0;
}

.fileUpload span.chooseFile {
    border: 1px solid #7e7373;
    padding: 1px 10px;
    float: right;
    text-align: right;
    font-size: 13.63px !important;
    cursor: pointer;
}

#footer ::-webkit-input-placeholder { 
	color:#fff!important;
 }

/* ====== Responsive start here ====== */
@media (max-width: 1024px){
	
	h1, .interView h1 {
		font-size: 38.23px !important;
	}
	
	h2 {
		font-size: 33.23px !important;
	}
	
	p, .more, .form-control, .readlink, .homePage input.btn.btn-dark,
	.aboutGoal input.btn.btn-dark, .topbreadcrumb .breadcrumb .breadcrumb-item a,
	.readmorelink, .interJob a, li, td,
	.footer_inner .media-body p, #footer ul li a, .readmores {
		font-size: 14.96px !important;
	}	
	
	h6, h5 {
		font-size: 18.28px;
	}
	
	p.card-text {
		font-size: 13.63px !important;
	}
	
	.seekerPart p {
		font-size: 16.62px !important;
	}
	
	/* ==== header css start here ==== */
	
	#header .navbar-nav .nav-link {
		padding: 10px 20px;
		font-size: 13.96px;
	}
	
	#header .navbar-nav .btn {
		font-size: 13.96px !important;
	}
	
	#header .navbar-center {
		margin-right: 1rem !important;
	}
	
	#header .mega-menu {
		right: 15px;
	}
	
	#header .navbar-nav a.btn.btn-danger {
		padding: 5px 15px !important;
		border-radius: 5px;
	}
	
	#header .main-logo {
		max-width: 130px;
	}
	
	
	/* ====  home banner css ==== */
	.socialImage img {
		margin-left: 40px;
	}

	.homePage input.form-control, .aboutGoal input.form-control {
		margin-right: 15px;
	}
	
	.seekerPart p {
		font-size: 15.62px;
	}
	
	.homePage .socialImage {
		padding: 100px 0;
	}
	
	/* ==== jobforYou ==== */
	.jobBox h3 {
		font-size: 18.13px !important;
	}
	
	.jobBox:hover .jobBox-hover {
		top: 0;
	}
	
	.jobBox {
		margin-bottom: 70px;
	}
	
	.jobBox .card {
		border-radius: 22px;
	}
	
	.joblist_Left h4 {
		font-size: 18.96px;
	}
	
	.joblist_Left .custom-control {
		font-size: 12.92px;
	}
	
	.joblist_Left label.custom-control-label { padding: 0;}
	
	#slideProfile a.btn-floating.prev, #slideProfile a.btn-floating.next {
		position: inherit;
		padding: 2px 6px;
	}
	
	.proFile .controls-top {
		text-align: center;
		padding-bottom: 70px;
	}
	
	.joblist_Right .btn-outline-dark, .companyLeft_list .btn-outline-dark{
		padding: 5px 25px;
		font-size: 15.62px !important;
	}
	
	.exoInner h6 {
		font-size: 15px;
	}
	
	.jobPart .pt-sm-0, .weCompany .pt-sm-0, .overview .pt-sm-0 {
		padding-top: 0 !important;
	}
	
	.w-90 {
		width: auto;
	}
	
	/* ==== seekerPart ==== */
	.seekerPart  .pro_six {
		top: 240px;
	}
	
	/* ==== team ==== */
	.teams {
		width: 70%;
	}
	
	.latestBlog .card-body::before {
		height: 245px;
		shape-outside: linear-gradient(-45deg, rgba(0,212,255,1) 0, rgba(9,9,121,0) 35%);
	}
	
	.companyLeft_list .btn-outline-dark {
		font-size: 14.63px !important;
		padding: 4px 15px;
	}
	
	/* ==== still-text ==== */
	.still-text {
		top: 120px;
		left: 30px;
	}
	
	.still-text h2 {
		font-size: 22.59px !important;
	}
	
	/* ==== banner-text ==== */
	.banner-text h2 {
		font-size: 25px;
	}

	.pricing {
		padding: 50px 0;
	}
	
	/* ==== notfound ==== */
	.notfound_bg {
		background-size: contain;
		padding: 125px 0 0;
	}
	
	img.bulb {
		top: 25%;
	}
	
	.notfound_bg h1 {
		top: 15%;
		left: 19%;
	}
	
	.interJob {
		padding-bottom: 0;
	}
	
	/* ==== profileMain ==== */

	.profileMain .card-body p {
		font-size: 13px;
	}
	
	.companylistForm .form-control {
		width: 75% !important;
	}
	
	.companyLeft_list .card {
		width: 95%;
	}
	
	.companyLeft_list .listIcon:before {
		background: linear-gradient(-135deg, rgb(255 0 0 / 100%) 25%, rgba(9,9,121,0) 0);
	}
	
	.exoInner h4 {
		font-size: 16.62px !important;
	}
	
	.listCandidates li, .candidateList .listRight a.btn-outline-dark {
		font-size: 15.62px !important;
	}
	
	.candidateList .listRight a.btn-outline-dark {
		margin-top: 40px;
	}
	
	.listCandidates .media-body, .listRight { padding: 5px 20px 0;}
	
	.listCandidates .editText li, .leftcandi .media .media-body p.grdPera {
		font-size: 14.62px !important;
	}
	
	.proLinks a, .profile_right a{
		font-size: 14.96px !important;
	}
	
	/* ==== login ==== */
	.loginForm .btn-floating {
		padding: 8px 25px;
		margin: 0 3px !important;
		font-size: 10px;
	}
	
	
	.loginForm i {
		font-size: 15px;
	}
	
	.banner {
		border-bottom-left-radius: 300px;
	}
	
	/* ==== contact us ==== */
	.contInner i {
		font-size: 40px;
	}
	
	/* ==== nearcol ==== */
	.nearcol {
		padding: 30px 30px 0 !important;
	}
	
	br {
		display: none;
	}
	
	/* ==== blogs ==== */
	.blog-right ul li.list-item:last-child {
		font-size: 14.67px !important;
	}
	
	/* ==== blog-detail ==== */
	.detail-inner span.dateTop {
		font-size: 20px;
	}
	
	.blog-detail .pl-6 {
		padding-left: 50px!important;
	}
	
	.detail-inner .listRight li::marker {
		font-size: 20px;
	}
	
	/* ==== employer-login ==== */
	.login-sec {
		padding: 63px 50px;
	}

	.employer-login h4, .login-sec input#login {
		font-size: 16.83px !important;
	}
	
	.login-sec .form-control{
		font-size: 14.67px !important;
		padding: 8px 55px !important;
	}
	
	.login-sec .justlogin {
		font-size: 12.58px !important;
	}
	
	.login-sec i.iconSet {
		left: 20px;
	}
	
	.valinner {
		transform: translate(1%, -35%);
	}
}
/* ======================= */

@media (max-width: 768px){
	
	h1,.interView h1 {
		font-size: 30.87px !important;
	}
	
	h2 {
		font-size: 28.23px !important;
	}
	
	p, .more, .form-control, .readlink, .homePage input.btn.btn-dark, 
	.topbreadcrumb .breadcrumb .breadcrumb-item a, .interJob a, td,
	.aboutGoal input.btn.btn-dark, .footer_inner .media-body p, #footer ul li a,
	.jobforYou .pre, .jobforYou .next, .readmores,
	.readmorelink, li, .interinner h4,.leftcandi .media .media-body p.grdPera{
		font-size: 12.96px !important;
	}	

	p.card-text {
		font-size: 11.63px !important;
	}
	
	.seekerPart p, .valinner h4 {
		font-size: 14.62px !important;
	}
	
	.overview p, .readmores {
		margin: 0 0 20px;
	}
	
	.joblist_Right .btn-outline-dark, .companyLeft_list .btn-outline-dark {
		font-size: 12.63px !important;
	}
	
	.profile_right h3 {
		font-size: 22.93px !important;
	}
	
	.container, .container-fluid {
		padding: 0 15px !important;
	}
	
	/* ==== header + navbar css start here ==== */
	#header .navbar-nav .nav-link {
		padding: 8px !important;
		font-size: 12.96px !important;
	}
	
	#header .mega-menu .dropdown-item, #header .navbar-nav .btn {
		font-size: 12.96px !important;
	}
	
	#header .main-logo {
		max-width: 125px;
	}
	
	/* ==== mega-menu ==== */
	#header .mega-menu {
		right: 7px;
		width: 98%;
	}
	
	#header .navbar-nav a.btn.btn-danger {
		border-radius: 5px;
	}
	
	.navbar {
		padding: .5rem 0 !important;
	}
	
	/* ==== home page css start here ==== */
	.homePage  {
		padding: 50px 15px;
	}
	
	.homePage .socialImage {
		padding: 100px 50px;
		width: 600px;
		margin: 0px auto;
	}
	
	.homePage a.btn.btn-dark {
		float: none;
		margin-top: 20px;
	}
	
	.homePage input.btn.btn-dark, .aboutGoal input.btn.btn-dark {
		padding: 5px 20px;
		height: auto;
	}
	
	.homePage input.form-control, .aboutGoal input.form-control{
		margin-right: 20px;
		font-size: 12.96px !important;
	}
	
	.homePage form i.fa.fa-search, .aboutGoal form i.fa.fa-search {
		top: 10px;
	}
	
	.jobBox h3,.jobBox-hover h4, .jobBox-hover a {
		font-size: 14.13px !important;
	}
	
	.jobBox-content .btn-outline-warning,.jobBox-hover ul li {
		font-size: 12.58px !important;
	}
	
	.jobBox-hover-content {
		bottom: 65%;
	}
	
	.jobBox {
		margin-bottom: 110px;
	}
	
	.jobBox .card {
		border-radius: 20px;
	}
	
	.way-success {
		width: 290px;
		height: 140px;
	}
	
	.way-inner {
		width: 270px;
		height: 130px;
		padding-top: 40px;
	}
	
	.way-inner h3 {
		font-size: 21.93px !important;
	}
	
	/* ==== footer css start here ==== */
	#footer img {
		max-width: 100px	;
		margin-bottom: 0;
	}
	
	#footer h5 {
		font-size: 14.62px;
	}
	
	#footer .list-inline-item:not(:last-child) {
		margin-right: 14.94px;
	}
	
	#footer ul.list-inline li a i {
		font-size: 18.94px;
	}
	
	#footer .footer_inner .list-unstyled li {
		margin: 4px 0;
	}
	
	.jobforYou h3.card-title, .latestBlog h3.card-title{
		font-size: 13.62px !important;
	}
	
	.latestBlog .card {
		border-radius: 20px;
	}
	
	.ourjobInner .read {
		line-height: inherit;
	}
	
	.socialImage img {
		margin-bottom: 20px;
		margin-left: 25px;
	}
	
	.iconsTop {
		top: 8px;
		left: 8px;
		font-size: 20px;
		padding: 5px;
		width: 40px;
	}
	
	.leftcandi .btn-danger, .rightcandi input[type="submit"] {
		font-size: 15.62px;
		padding: 10px 12px;
	}
	
	.rightcandi .bg-dark {
		font-size: 18.62px;
	}
	
	.leftcandi h3 {
		font-size: 21.94px !important;
	}
	
	/* ==== jobforYou ==== */
	.jobforYou h5.card-title {
		font-size: 18.62px !important;
	}

	.seekerPart  .pro_one {
		left: 5%;
	}
	
	.seekerPart .pro_two {
		left: 30%;
	}
	
	.seekerPart  .pro_three {
		left: 15%;
		top: 150px;
	}
	
	.seekerPart  .pro_four {
		left: 54%;
	}
	
	.seekerPart  .pro_six {
		left: 70%;
		top: 160px;
	}
	
	/* ==== latestBlog ==== */
	.dateTop {
		right: 10px;
		top: 10px;
		font-size: 13px;
	}	

	/* ==== aboutGoal ==== */
	.aboutGoal h1 {
		padding-top: 20px;
	}
	
	.aboutGoal .input-group {
		width: 100% !important;
	}
	
	.overview {
		padding: 0 0 50px;
	}
	
	.overview .row.pl-2 {
		padding-left: 0 !important;
	}
		
	/* ==== interJob ==== */
	h5, h6,.interinner h2 {
		font-size: 14.62px !important;
	}
	
	.daimond-bg {
		width: 55px;
		height: 55px;
	}
	
	.interinner p {
		margin-bottom: 20px;
	}
	
	.daimond-bg i {
		font-size: 25px;
	}
	
	/* ==== valwork ==== */
	.valinner i {
		font-size: 20px;
		width: 50px;
		padding: 15px 0;
	}
	
	.valinner {
		padding: 25px 15px;
	
	}
	
	/* ==== teams ==== */
	.teams {
		width: 80%;
	}
	
	.teams:hover .icons {
		bottom: 45px;
	}
	
	.latestBlog .card-body::before {
		height: 250px;
		border-bottom-right-radius: 22px;
	}
	
	.ourJob, .jobforYou, .weCompany{
		padding: 0 0 100px;
	}
	
	.companylistForm .dropdown-container:after {
		right: 40px;
	}
	
	.jobPart {
		padding: 100px 0;
	}
	
	.nearcol {
		padding: 15px 15px 0!important;
	}
	
	.rightcandi h6, .leftcandi .media .media-body p, .seekerPart h3 {
		font-size: 15.62px !important;
	}

	.joblist_Right .jobImage {
		border-radius: 5px;
	}
	
	.profile_right #update {
		font-size: 15.96px;
	}
	
	/* ==== still-text ==== */
	.still-text {
		top: 90px;
		left: 30px;
	}
	
	.still-text h2 {
		font-size: 15.59px !important;
	}
	
	.contacts, .contactForm {
		padding: 50px 0 0;
	}
	
	.contInner h4 {
		font-size: 21.94px !important;
	}
	
	/* ==== banner-text ==== */
	.banner-text h2 {
		font-size: 18px !important;
	}
	
	.pricing_inner h4 {
		font-size: 18.94px !important;
	}
	
	.ourjobInner i {
		font-size: 18.94px;
		width: 45px;
		height: 45px;
		line-height: 45px;
	}

	.pricing h2 i {
		font-size: 30px;
	}
	
	.pricing_inner h5 {
		font-size: 15px;
	}
	
	.pricing_inner{
		border-radius: 25px;
	}
	
	.notfound_bg {
		padding: 45px 0 0;
	}
	
	img.bulb {
		top: 0;
		left: 50%;	
	}
	
	.notfound_bg h1{
		display: none;
	}
	
	.proFile h4 {
		padding-bottom: 10px !important;
	}
	
	.proFile .card-body h4 {
		font-size: 18.94px !important;
	}
	
	/* ==== candidateList ==== */
	.listCandidates .media-body {
		padding: 5px 0 5px 30px;
	}
	
	.candidateList .listRight a.btn-outline-dark {
		margin-top: 45px;
	}
	
	.comingSoon h1 {
		margin-bottom: 100px !important;
		font-size: 75.87px !important;
	}
	
	.comingSoon p {
		font-size: 20.94px !important;
	}
	
	.comingSoon form { padding: 0;}
	
	.companyLeft_list .listIcon:before {
		background: linear-gradient( -135deg, rgb(255 0 0 / 100%) 28%, rgba(9,9,121,0) 0);
	}
	
	.companyLeft_list .pt-2 {
		padding-top: 0 !important;
	}
	
	.companyLeft_list .btn-dark {
		padding: 4px 15px;
		font-size: 15.96px;
	}
	
	.company_list .col-sm-8 {
		padding-right: 1rem!important;
	}
	
	.companylistForm .form-control {
		width: 65% !important;
	}
	
	.companyLeft_list .card {
		width: auto;
		padding: 30px 15px 15px;
	}
	
	/* ==== Job listing ==== */
	.girl {
		max-width: 140px;
	}
	
	.valPart {
		padding: 70px 0;
	}
	
	.bgnumber {
		padding: 65px;
	}
	
	.joblist_Right h4, .companyLeft_list h4{
		font-size: 17.28px !important;
	}
	
	.joblist_Left h4 {
		font-size: 14.28px !important;
		padding-bottom: 20px;
	}
	
	.joblist_Right p.peraOn, .companyLeft_list p.peraOn {
		font-size: 15.62px !important;
	}
	
	/* ==== login ==== */
	.loginForm .btn-floating {
		padding: 6px 20px !important;
		margin: 0 1px !important;
	}

	.jobListing .col-sm-9 {
		padding-left: 1rem!important;
	}
	
	.jobListing .btn-danger, .jobListing .btn-dark {
		font-size: 10.62px !important;
	}
	
	.jobListing .btn-dark {
		padding: 13px 10px;
	}
	
	.joblist_Right li.list-inline-item.pt-2 {
		padding-top: 5px !important;
		font-size: 18.62px;
	}
	
	.companyLeft_list ul li:first-child {
		font-size: 12.63px !important;
	}
	
	.joblist_Right img.card-img-top{
		max-width: 70px;
	}
	
	.joblist_Right .card {
		width: auto;
		padding: 30px 15px 30px;
	}
	
	.joblist_Left h5 {
		font-size: 16px;
	}
	
	.joblist_Left label.custom-control-label {
		font-size: 11.92px;
	}
	
	.joblist_Left .card-body {
		padding: 20px 15px;
	}
	
	.joblist_Right h2 {
		font-size: 25px !important;
	}
	
	.exoInner i {
		font-size: 30px;
		margin-bottom: 20px;
	}
	
	.explore .row.pb-5 {
		padding-bottom: 0 !important;
	}
	
	.explore .row.pt-4 {
		padding-top: 0 !important;
	}
	
	.proFile, .latestBlog, .interJob  {
		padding: 100px 0;
	}
	
	.overImg {
		box-shadow: -20px 20px 0 5px #f4c310;
		border-radius: 30px;
	}
	
	.profile_right a {
		margin-left: 5px;
	}
	
	.proLinks a, .profile_right a{
		font-size: 12.96px !important;
	}
	
	.profile_right select.form-control {
		padding-right: 35px;
	}
	
	/* ==== nearJob ==== */
	.nearJob h1 {
		font-size: 35.23px !important;
	}
	
	.nearJob h2 {
		font-size: 28.59px !important;
	}
	
	/* ==== blogs ==== */
	.blogs .blog-head {
		padding: 100px 0 70px !important;
	}

	.blog-right, .blogs .pl-4 {
		padding-left: 15px !important;
	}
	
	.blogs .pr-4 {
		padding-right: 15px !important;
	}
	
	.blog-right .rightcandi {
		padding: 20px 0 0;
	}
	
	.l-blog {
		font-size: 15.62px !important;
	}
	
	.blog-right h4 {
		font-size: 18.83px !important;
	}
	
	.srchBar label.form-control-placeholder{
		font-size: 14.62px;
	}
	
	.blog-right ul li.list-item:first-child {
		font-size: 12.58px !important;
	}
	
	.blog-right p {
		font-size: 14.67px !important;
	}
	
	.blogs .latestBlog {
		padding: 0 20px 100px !important;
	}
	
	/* ==== blog-detail ==== */
	.detail-inner h4 {
		font-size: 20px !important;
	}
	
	.detail-inner p {
		font-size: 14.58px !important;
	}
	
	.socialaaps h5 {
		font-size: 18.83px !important;
	}
	
	.detail-inner .contactForm {
		padding-top: 0;
		padding-right: 50px;
	}	
	
	.blog-detail .blog-head {
		padding: 100px 0 70px !important;
	}
	
	/* ==== company-register ==== */
	.fileUpload span.chooseFile {
		padding: 0 4px;
		font-size: 12.63px !important;
	}
	

}
/* ===================================== */

@media (max-width: 1000px){
	/* ==== header + navbar css start here ==== */
	.navbar-light .navbar-toggler {
		border: transparent;
	}
	
	#header .navbar-center {
		margin-right: 0 !important;
	}
	
	#header .mega-menu {
		right: 0;
		width: 100%;
		position: static;
		background: #ff4153;
		padding: 15px 30px;
	}
	
	#header .mega-menu .dropdown-item {
		color: #fff !important;
	}
	
	#header .mega-menu .dropdown-item:hover {
		background: #fff !important;
		color: #ff4153 !important;
		padding-left: 40px;
	}
	
	#header .mega-menu .border-right {
		border: none !important;
	}
	
	.navbar-center .nav-item {
		line-height: 30px !important;
		border-bottom: 1px solid #2a3b4a;
	}
	
	#header .main-logo {
		max-width: 150px;
	}
	
	#navbarSupportedContent {
		/*position: absolute;
		width: 100%;
		right: 0;
		left: 0;
		top: 55px;*/
		background: #fff;
		z-index: 1;
		padding: 0 15px 15px;
		box-shadow: 0 10px 60px 1px rgba(0,0,0,.08)!important;
		transition: 1s ease;
		margin-top: 10px;
	}
	
	#header .navbar-nav.navbar-right a.btn{
		width: 100%;
	}
	.a {
		
    color: yellow !important;

	}
	
	.navbar-light .navbar-toggler {
		border: 1px solid #ff4153 !important;
		padding: 2px 10px;
		box-shadow: 0 5px 8px 0 #ddd;
		background: #f4c310;
		line-height: 22px;
		border-radius: 4px;
	}
	
	.navbar-light .navbar-toggler:focus{
		outline: 0 !important;
	}
	
	.navbar-light .navbar-toggler-icon:before {
		content: "\f0c9" !important;
		font-family: 'FontAwesome' !important;
		color: #fff!important;
	}	
	
	.navbar-light .navbar-toggler-icon {
		background-image: none !important;
		width: 30px !important;
		height: 25px !important;
	}
	
}
/* ===================================== */

@media (max-width: 575px){
	
	.container {
		width: 100% !important; 
	}
	
	p, li, .more,  .form-control, .readlink, 
	.homePage input.btn.btn-dark, .topbreadcrumb .breadcrumb .breadcrumb-item a, 
	.interJob a, .aboutGoal input.btn.btn-dark, .footer_inner .media-body p, #footer ul li a, 
	.jobforYou .pre, .jobforYou .next, .readmores, .readmorelink, .interinner h4, 
	.leftcandi .media .media-body p.grdPera, p.card-text {
		font-size: 14.96px !important;
	}

	
	/* ==== homePage css start here ==== */
	.homePage {
		padding: 40px 0 0;
		text-align: center;
	}
	
	.homePage .socialImage {
		padding: 50px 0;
		width: auto;
	}
	
	.explore {
		padding: 0;
	}
	
	.profile_banner {
		background-image: none;
		padding-bottom: 0;
	}
	
	.socialImage img {
		margin-left: 0;
	}
	
	.jobforYou h3.card-title, .latestBlog h3.card-title {
		font-size: 18.62px !important;
	}
	
	.interinner h2 {
		font-size: 20.62px !important;
	}
		
	.jobforYou .card:hover {
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
	}
	
	.jobBox h3,.jobBox-hover h4{
		font-size: 24.13px !important;
	}
	
	.jobBox-content .btn-outline-warning,.jobBox-hover ul li {
		font-size: 14.58px !important;
	}
	
	.jobBox-hover-content {
		bottom: 60%;
	}
	
	.jobBox-hover a {
		font-size: 16.67px !important;
	}
	
	.jobBox {
		margin-bottom: 30px;
	}
	
	.jobBox .card {
		border-radius: 40px;
	}
	
	.latestBlog .card {
		border-radius: 30px;
	}
	
	.banner {
		background-image: none;
		border-radius: 0;
		border: none;
	}
	
	.jobPart img {
		margin-bottom: 0;
	}
	
	.ptMeet { 
		margin-top: 0!important;
	}
	
	.joblist_Right .btn-outline-dark, .companyLeft_list .btn-outline-dark {
		font-size: 14.63px !important;
		padding: 5px 27px;
	}
	
	.jobPart {
		padding: 0;
		text-align: center;
	}
	
	.ourJob, .jobforYou, .latestBlog, .weCompany {
		padding: 50px 0;
	}
	
	.weCompany {
		text-align: center;
	}
	
	.more {
		margin-bottom: 30px;
	}
	
	.iconsTop {
		top: 15px;
		left: 15px;
		font-size: 25px;
		padding: 8px;
		width: 55px;
	}
	
	.jobforYou h5.card-title {
		font-size: 18px !important;
	}
	
	.leftcandi .media-body h4 {
		font-size: 18px;
	}
	
	.leftcandi .pl-5 {
		padding-left: 0 !important;
	}
	
	.candidate.pt-5{
		padding: 0 !important;
	}
	
	.candidateList .listRight a.btn-outline-dark {
		margin-top: 15px;
	}
	
	.jobforYou .card-body a.btn.btn-outline-danger,
	.latestBlog .card-body a.btn.btn-outline-danger {
		padding: 0 12px;
		font-size: 20px;
		right: 20px;
		bottom: 20px;
	}	
	
	.companyLeft_list, .companyRight_list {
		padding: 10px 0 0;
	}
	
	.latestBlog .card-body::before {
		height: 210px !important;
	}
	
	/* ==== candidatelisting ==== */
	.listCandidates .media {
		display: block;
	}
	
	.jobImage {
		text-align: center;
	}
	
	.listCandidates .media-body {
		padding: 5px 0 5px 0;
	}
	
	.listCandidates li {
		line-height: 40px;
	}
	
	.candidateList .list-inline-item:not(:last-child) {
		margin-right: 10px;
	}

	/* ==== aboutGoal ===== */
	.aboutGoal {
		padding: 30px 0 0;
		text-align: center;
	}
	
	.aboutGoal .input-group {
		width: 100% !important;
	}
	
	/* ==== overview ==== */
	.overview {
		text-align: center;
	}
	
	.overImg {
		margin-bottom: 60px;
	}
	
	/* ==== interJob ==== */
	.interJob .readmorelink {
		width: 20%;
	}
	
	.interJob h3 {
		font-size: 1.25rem !important;
	}
	
	/* ==== teams ==== */
	.teams {
		width: 50%;
	}
	
	/* ==== valwork ==== */
	.valwork {
		border-bottom: 0;
		border-top: 0;
		margin: 0;
		padding: 30px 0;
	}
	
	.valinner {
		position: inherit;
		width: auto;
		margin-bottom: 30px;
	}
	
	.teams:hover .icons {
		bottom: 80px;
	}
	
	.nearcol {
		text-align: left;
		padding: 25px 15px 0 !important;
	}
	
	/* ==== still-text ==== */
	.still-text {
		top: 35%;
		left: 10%;
	}
	
	.still-text h2 {
		font-size: 30px !important;
	}
	
	/* ==== banner-text ==== */
	.banner-text h2 {
		font-size: 2rem !important;
	}
	
	img.vector {
		width: 50%;
	}
	
	/* ==== profile_right ==== */
	.profile_right .form-group {
		margin-bottom: 0;
	}
	
	.profile_right .form-control {
		margin-top: 25px;
	}
	
	.fx-top {
		margin-top: 20px;
	}
	
	.proFile .card-body {
		bottom: 40px;
		border-bottom-left-radius: 40px;
		border-bottom-right-radius: 40px;
	}
	
	.profile_right a {
		margin-left: 0;
	}
	
	.profileMain .card-body {
		border-bottom-left-radius: 40px;
		border-bottom-right-radius: 40px;
		padding: 15px 0;
		bottom: 40px;
	}
	
	/* ==== candidate ==== */
	.leftcandi .px-5, .leftcandi .px-4 {
		padding: 0 !important;
	}
	
	.leftcandi ul {
		padding-left: 18px !important;
	}
	
	.leftcandi .muted {
		padding: 0 !important;
	}
	
	/* ==== candidate-listing ==== */
	.candidateList .pr-0 {
		padding-right: 15px !important;
		margin-bottom: 15px;
	}	
	
	.companylistForm .dropdown-container:after {
		top: 42px;
	}
	
	.listCandidates .text-end, .listCandidates .media-body{
		text-align: center !important;
	}
	
	.listCandidates {
		padding: 30px 15px;
	}
	
	.comingSoon h1 {
		margin-bottom: 50px !important;
		font-size: 41.87px !important;
	}
	
	.comingSoon p, .comingSoon .btn.btn-dark, .comingSoon input.form-control {
		font-size: 15.94px !important;
	}
	
	.comingSoon .btn.btn-dark {
		padding: 5px 10px;
	}
	
	.companyLeft_list .btn-dark {
		padding: 4px 30px;
		font-size: 18.62px;
	}
	
	.companyLeft_list .listIcon:before {
		background: linear-gradient( -135deg, rgb(255 0 0 / 100%) 20%, rgba(9,9,121,0) 0);
	}
	
	.companylistForm .form-control {
		width: 100% !important;
	}
	
	.bgnumber {
		background: none;
		padding: 0;
		margin: 0;
	}
	
	.meetTeam, .interJobg {
		padding-top: 0;
	}
	
	/* ==== login ==== */
	.loginForm .btn-floating {
		padding: 8px 20px !important;
		margin: 0 4px !important;
	}
	
	/* ==== job listing ==== */
	.joblist_Near .nearcol {
		text-align: left;
	}
	
	.nearJoblist {
		background: none;
		padding-bottom: 0;
	}
	
	.jobListing {
		padding: 0;
	}
	
	.girl {
		display: none;
	}
	
	.jobListing .btn-danger, .jobListing .btn-dark, .loginForm input[type="submit"] {
		font-size: 15.62px !important;
	}
	
	.joblist_Right .card {
		height: auto;
		margin-bottom: 40px;
	}
	
	.joblist_Right .row.pb-5 {
		padding-bottom: 0 !important;
		padding-top: 0 !important;
	}
	
	.jobImage {
		margin-bottom: 40px;
	}
	
	.jobImage .me-4 {
		margin-right: 0!important;
	}
	.interView {
		text-align: center;
	}
	
	.joblist_Left label.custom-control-label, .joblist_Left .custom-control,.proLinks a {
		font-size: 14.92px !important;
	}
	
	.joblist_Left h4 {
		font-size: 18.96px !important;
		padding-bottom: 42px;
	}
		
	.valPart {
		padding-bottom: 0;
	}
	
	.leftcandi ul {
		padding-left: 0 !important;
	}
	
	.frequently {
		padding: 50px 0;
	}
	
	#footer h5 {
		font-size: 18.62px !important;
	}
	
	#footer img {
		margin-top: 30px;
		max-width: 130px;
	}
	
	/* ==== intro ==== */
	.way-inner {
		padding-top: 50px;
		height: 170px;
	}
	
	.way-inner h3 {
		font-size: 21.93px !important;
	}
	
	.way-success {
		height: 180px;
	}
	
	.not_found a {
		font-size: 15.62px;
	}
	
	
	/* ==== notfound ==== */
	.not_found h2 {
		font-size: 32.87px !important;
	}
	
	.not_found h3 {
		font-size: 18.28px !important;
	}
	
	img.bulb {
		left: 52%;
	}
	
	.profile_right .dropdown-container:after {
		top: 35px;
	}
	
	/* ==== pricing ==== */
	.pricing h1 i {
		font-size: 40px;
	}
	
	/* ==== blogs ==== */
	.blog-right ul li.list-item:first-child {
		font-size: 14.58px !important;
	}
	
	.blog-right ul li.list-item:last-child {
		font-size: 16.67px !important;
	}
	
	.blog-right .rightcandi {
		padding: 70px 0;
	}
	
	/* ==== blog-detail ==== */
	.blog-detail .blog-head {
		padding: 100px 15px !important;
	}
	
	.detail-inner span.dateTop {
		font-size: 15px;
	}
	
	.detail-column .jobImage {
		margin-bottom: 30px;
	}
	
	.detail-inner .contactForm {
		text-align: center !important;
		padding: 0;
	}
	
	.blog-detail .pl-6 {
		padding-left: 15px !important;
	}
	
	.socialaaps {
		margin-bottom: 100px;
		text-align: center;
	}
	
	.socialaaps ul.list-inline {
		text-align: center;
		margin-top: 30px;
	}
	
	.detail-inner .media.mb-20 {
		margin-bottom: 100px;
	}
	
	.detail-inner .media .media-body ul li a{
		font-size: 12.58px !important;
	}
	
	.detail-inner .nested {
		margin-left: -110px;
	}
	
	.detail-inner img.teamimage {
		max-width: 90px;
		max-height: 90px;
	}
	
	.detail-inner span.dateTop {
		top: 15px;
		right: 15px;
	}
	
	/* ==== employer-login ==== */
	.employer-login h4, .login-sec input#login {
		font-size: 14.83px !important;
	}
	
	.employer-login h3{
		font-size: 25.17px !important;
	}
	
	.login-sec {
		padding: 63px 20px;
	}
	
	.login-sec .form-control {
		font-size: 12.67px !important;
	}
	
	.login-sec i.iconSet {
		font-size: 15px;
		top: 18px;
	}
	
	/* ==== company-register ==== */
	.fileUpload span.chooseFile {
		padding: 1px 20px;
		font-size: 13.63px !important;
	}
	
}
/* ============================== */

@media (max-width: 375px){
	/* ==== banner-text ==== */
	.banner-text h2 {
		font-size: 25px !important;
	}
	
	/* ==== jobforyou ==== */
	.jobBox .card {
		border-radius: 35px;
	}
	
	/* ==== login ==== */
	.loginForm .btn-floating {
		padding: 8px 15px !important;
		margin: 0 !important;
	}
	
	/* ==== employer-login ==== */
	.login-sec .justlogin {
		padding: 25px 10px 0;
	}
	
}
/* ============================== */

@media (max-width: 320px){

	/* ==== interJob ==== */
	.interJob .readmorelink {
		width: 25%;
	}
	
	/* ==== jobforyou ==== */
	.way-success{
		width: 310px;
	}
	
	.way-inner {
		width: 300px;
	}
	
	.way-inner h3 {
		font-size: 18.93px !important;
	}
	
	.jobBox .card {
		border-radius: 30px;
	}
	
	/* ==== latestBlog ==== */
	.latestBlog .card-body::before {
		height: 220px !important;
	}
		
	/* ==== team ==== */
	.teams:hover .icons {
		bottom: 50px;
	}	
	
	/* ==== login ==== */
	.loginForm .btn-floating {
		padding: 5px 8px !important;
		margin: 0 !important;
	}
	
	.loginForm label.custom-control-label, .loginForm a.forgotPwd{
		font-size: 10px;
	}
	
	.loginForm p {
		font-size: 12.96px !important;
	}
	
	/* ==== campany-details ==== */
	.rightcandi .banner-text {
		left: 10%;
	}
	
	.leftcandi h3 {
		font-size: 18.94px !important;
	}
	
	.leftcandi li, .listCandidates li {
		font-size: 12.92px !important;
	}

	.candidate .muted i {
		font-size: 15px;
	}
	
	/* ==== campnay listing ==== */
	.listCandidates i {
		font-size: 15px;
		margin-right: 4px !important;
	}
	
	/* ==== company-register ==== */
	.fileUpload span.chooseFile {
		padding: 1px 10px;
	}
	
	
	/* ==== employer-login ==== */
	.login-sec .justlogin {
		padding: 25px 0 0;
		font-size: 11.58px !important;
	}
}
/* ================================= */
@media (max-width: 600px) {
	.drop-down  {
		display: block;
	}
}
/* ================================= */
@media (max-width: 275px) {
	.latestBlog .card-body::before {
		height: 265px !important;
	}
	.way-success {
		width: 230px;
	}
	.way-inner {
		width: 210px;
	}
	
	.latestBlog .card {
		border-radius: 20px;
	}
}
/* ================================= */

@media (max-width: 1170px) {
	#header .navbar-nav .nav-link {
		padding: .5rem 25px;
		font-size: 12.96px;
	}
	
	#header .navbar-nav .btn {
		font-size: 12.96px !important;
	}
	
	#header .navbar-nav a.btn.btn-danger {
		padding: 8px 15px !important;
		border-radius: 5px;
	}
	
	#header .main-logo {
		max-width: 130px;
	}
	
	.latestBlog .card-body::before {
		height: 260px;
	}	
/* ================================= */

/* ==== fadeIn ==== */
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
